body {
    background-color: #ffffff;
    font-family: 'Muli', sans-serif;
    /*color: #041E44;*/
}

.section-header {
    background: url("../images/invitation-header.jpg") no-repeat center center;
    background-size: cover;
    min-height: 510px;
    color: black;
}

.section-header .section-header-title h6 {
    padding-top: 100px;
    font-family: 'Roboto', serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 20px;
}

.section-header .section-header-title h4 {
    padding-top: 10px;
    font-family: 'Roboto', serif;
    font-size: 36px;
    line-height: 20px;
}

header p {
    font-size: 50px;
}

.section-invitation {
  margin-top: 15px;
}

.section-invitation .section-invitation-title h6 {
    font-size: 20px;
    line-height: 10px;
}

.section-invitation .section-invitation-title h3 {
    margin-top: -2px;
    font-size: 36px;
}

.section-invitation .section-invitation-title p {
    margin-top: -10px;
    font-size: 18px;
}

.section-invitation .section-invitation-button {
    margin-top: -10px;
}

.section-invitation .section-invitation-button .btn-invitation {
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}

.section-invitation .icon-invitation {
    width: 55px;
    height: 55px;
    margin: -10px -10px -10px -15px;
}

.section-gift-title {
    background-color: #F8F0F0;
}

.section-gift-title .section-gift-title-header h3 {
    margin-top: 40px;
    font-size: 60px;
    font-family: Roboto;
}

.section-gift-title .section-gift-title-header h6 {
    margin-top: -5px;
    font-size: 20px;
}

.section-gift-card {
    background-color: #F8F0F0;
}

.section-gift-card .section-gift-card-image img {
    max-width: 570px;
    max-height: 301px;
}

.section-gift-card .section-gift-card-button {
    margin-top: 30px;
}

.section-gift-card .section-gift-card-button .btn-copy-card-number {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    color: black;
}

.section-gift-ewallet {
    background-color: #F8F0F0;
}

.section-gift-ewallet .section-gift-ewallet-image {
    margin-top: 90px;
}

.section-gift-ewallet .section-gift-ewallet-image img {
    max-width: 250px;
    max-height: 110px;
}

.section-gift-ewallet .section-gift-ewallet-image .dana-logo {
    margin-top: -15px;
}

.section-gift-ewallet .section-gift-ewallet-image .ovo-logo {
    margin-top: -30px;
}

.section-gift-ewallet .section-gift-ewallet-image .shopee-logo {
    margin-top: -5px;
}

.section-gift-ewallet .section-gift-ewallet-button {
    margin-top: 50px;
}

.section-gift-ewallet .section-gift-ewallet-button .btn-copy-phone-number {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    font-family: Roboto;
    color: black;
}

.section-gift-thanks {
    background-color: #F8F0F0;
    min-height: 200px;
}

.section-gift-thanks .section-gift-thanks-message h5 {
    margin-top: 60px;
    font-size: 16px;
    font-family: Roboto;
}

.section-gift-thanks .section-gift-thanks-message h3 {
    margin-top: 25px;
    font-size: 22px;
    font-family: Roboto;
}

.section-prayer-greetings {
    margin-top: 50px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    color: black;
}

.section-prayer-prayings {
    margin-top: -15px;
    font-size: 20px;
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    color: black;
}

.section-couple-info {
    margin-top: 50px;
}

.section-couple-info-title h3 {
    font-family: Roboto;
    font-size: 36px;
    font-weight: bolder;
    color: black;
}

.section-couple-info-detail {
    margin-top: 50px;
}

.couple-both-detail {
    font-family: Roboto;
    margin-top: 22px;
    color: black;
}

.couple-both-detail h3 {
    font-size: 30px;
}

.couple-both-detail h6 {
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 13px;
    margin-top: 13px;
}

.couple-both-detail p {
    font-size: 16px;
    font-style: italic;
    font-weight: lighter;
}

.couple-both-detail .btn-instagram-couple {
    border-radius: 10px;
    font-weight: bold;
    color: black;
}

.section-couple-info-detail-icon {
    margin-top: 55px;
}

.section-engagement-video {
    margin-top: 77px;
}

.section-wedding-prayer {
    margin-top: 77px;
    font-family: Roboto;
    color: black;
}

.section-wedding-prayer h3 {
    font-size: 40px;
}

.section-wedding-prayer .section-wedding-prayer-prayings {
    margin-top: 23px;
}

.section-wedding-prayer .section-wedding-prayer-prayings p {
    font-size: 18px;
    font-style: italic;
    font-weight: lighter;
}

.section-wedding-prayer .section-wedding-prayer-prayings h6 {
    margin-top: -12px;
    font-size: 18px;
    font-weight: bold;
}

.section-countdown {
    margin-top: 72px;
    font-family: Roboto;
    color: black;
}

.section-countdown h3 {
    font-size: 58px;
}

.section-countdown p {
    font-size: 20px;
    margin-top: -10px;
}

.section-countdown button {
    margin-top: 35px;
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.section-countdown .icon-save-date {
    width: 50px;
    height: 50px;
    margin: -10px -5px -10px -15px;
}

.section-middle-image {
    margin-top: 84px;
    background: url("../images/middle-image.jpg") no-repeat center center;
    background-size: cover;
    min-height: 700px;
    color: black;
}

.section-wedding-info {
    margin-top: 90px;
    font-family: Roboto;
    color: black;
}

.section-wedding-info-detail-both h2 {
    font-size: 42px;
    font-weight: bolder;
}

.section-wedding-info-detail-both h6 {
    font-size: 22px;
    font-weight: normal;
    margin-top: 20px;
    line-height: 33px;
}

.section-wedding-info-detail-both p {
    font-size: 18px;
    margin-top: 22px;
}

.section-wedding-info-detail-icon {
    margin-top: 70px;
}

.section-wedding-info-address {
    margin-top: 25px;
    font-family: Roboto;
    color: black;
}

.section-wedding-info-address h4 {
    font-size: 22px;
    font-weight: normal;
    line-height: 30px;
}

.section-wedding-info-button {
    margin-top: 35px;
}

.section-wedding-info-button a {
    border-radius: 10px;
    font-weight: bold;
    color: black;
    font-size: 18px;
}

.section-wedding-info-button .icon-streaming {
    width: 45px;
    height: 45px;
    margin: -10px -5px -7px -10px;
}

.section-covid-protocol {
    margin-top: 70px;
    font-family: Roboto;
    color: black;
}
.section-covid-protocol-detail {
    background-color: #C4C4C4;
    border-radius: 25px;
}

.section-covid-protocol-detail .protocol-icon {
    margin-top: 30px;
}

.section-covid-protocol-detail p {
    margin-top: 10px;
    font-size: 16px;
}

.section-covid-protocol-title {
    margin-top: 40px;
    font-family: Roboto;
    color: black;
}

.section-covid-protocol-title h3 {
    font-size: 40px;
    font-weight: bolder;
}


.section-covid-protocol-title h6 {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
    margin-top: 20px;
}

.section-couple-gallery {
    margin-top: 55px;
    font-family: Roboto;
    color: black;
}

.section-couple-gallery .gallery-icon {
    width: 120px;
    height: 75px;
}

.section-couple-gallery h3 {
    margin-top: 20px;
    margin-left: -10px;
    font-size: 40px;
}

.section-couple-gallery h6 {
    margin-top: 0px;
    font-size: 28px;
    font-weight: normal;
}

.section-couple-gallery .gallery-photo-one {
    margin-top: 65px;
    height: 348.13px;
    width: 540px;
}

.section-couple-gallery .section-gallery-photo-two-right {
    height: 748.33px;
}

.section-couple-gallery .gallery-photo-two-right-two {
    margin-top: -5px;
}

.section-couple-gallery .section-gallery-photo-three-left {
    min-height: 675.38px;
}

.section-couple-gallery .section-gallery-photo-three-right {
    margin-top: -3px;
}

.section-gallery-button-gift {
    margin-top: 55px;
}

.section-gallery-button-gift a {
    font-family: Roboto;
    font-size: 24px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
}

.section-gallery-button-gift .icon-gift {
    width: 50px;
    height: 50px;
    margin: -10px -5px -7px -10px;
}

.section-bottom-image {
    margin-top: 55px;
    background: url("../images/bottom-image.jpg") no-repeat center;
    background-size: cover;
    min-height: 700px;
    color: black;
}

.section-wedding-message-title {
    margin-top: 70px;
    font-family: Roboto;
    color: black;
}

.section-wedding-message-title h3 {
   font-size: 40px;
}

.section-wedding-message-title h6 {
    font-size: 20px;
    font-style: italic;
    font-weight: lighter;
}

.section-wedding-message-detail {
    background-color: #C4C4C4;
    border-radius: 25px;
    margin-top: 76px;
}

.section-wedding-message-detail .bird-message-icon {
    margin-top: 20px;
}

.section-wedding-message-detail .input-name {
    margin-top: 50px;
    margin-right: 50px;
    font-size: 20px;
}

.section-wedding-message-detail .input-message {
    margin-top: 15px;
    margin-right: 50px;
    font-size: 20px;
}

.section-wedding-message-detail .btn-submit-message {
    font-family: Roboto;
    font-size: 20px;
    font-weight: bold;
    color: black;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 50px;
    margin-right: 40px;
}

.section-wedding-message-detail .icon-submit {
    width: 45px;
    height: 45px;
    margin: -10px -5px -7px -10px;
}

.section-wedding-message-detail .bird-message-one-icon {
    margin-top: -50px;
    width: 200px;
    height: 180px;
}

.input-all-message {
    margin-top: -5px !important;
    margin-right: 50px;
    font-size: 20px;
}

.section-footer {
    margin-top: 79px;
    font-family: Roboto;
    color: black;
}

.section-footer-title h3 {
    font-size: 56px;
    font-weight: normal;
    margin-top: 50px;
    margin-left: 15px;
}

.section-footer-title p {
    font-size: 16px;
    font-weight: normal;
    margin-top: -15px;
}

@media only screen and (max-width: 1200px) {
    .section-gift-title .section-gift-title-header img {
        width: 200px;
        margin-right: 60px;
        margin-top: 15px;
    }

    .section-gift-title .section-gift-title-header h3 {
        margin-left: 20px;
    }

    .section-gift-title .section-gift-title-header h6 {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 990px) {
    .section-gift-title .section-gift-title-header img {
        width: 200px;
        margin-left: 240px;
    }

    .section-gift-title .section-gift-title-header h3 {
        margin-top: -30px;
        font-size: 48px;
        font-family: Roboto;
        text-align: center;
    }

    .section-gift-title .section-gift-title-header h6 {
        margin-top: -5px;
        margin-bottom: 40px;
        font-size: 18px;
        text-align: center;
    }

    .section-couple-info-detail-icon {
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .section-wedding-info-detail-icon {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .section-wedding-info-button .btn-live-streaming {
        margin-top: 20px;
    }

    .section-couple-gallery .gallery-icon {
        margin-left: 160px;
    }

    .section-couple-gallery h6 {
        margin-bottom: 60px;
    }

    .section-couple-gallery .gallery-photo-one {
        margin-top: 0px;
        height: 448.13px;
        width: 690px;
    }

    .section-wedding-message-detail .bird-message-icon {
        margin-top: 0px;
    }

    .section-wedding-message-detail .input-name {
        margin-top: 0px;
        margin-right: 50px;
        margin-left: 50px;
    }

    .section-wedding-message-detail .input-message {
        margin-right: 50px;
        margin-left: 50px;
    }

    .section-wedding-message-detail .btn-submit-message {
        margin-bottom: 20px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 260px;
        width: 160px;
        height: 140px;
    }

    .input-all-message {
        margin-right: 50px;
        margin-left: 50px;
        margin-top: -15px !important;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 767px) {
    .section-gift-card .section-gift-card-image img {
        max-width: 450px;
        max-height: 221px;
    }

    .section-gift-title .section-gift-title-header img {
        width: 160px;
        margin-left: 170px;
    }

    .section-gift-title .section-gift-title-header h3 {
        margin-top: -30px;
        font-size: 36px;
        font-family: Roboto;
        text-align: center;
    }

    .section-gift-title .section-gift-title-header h6 {
        margin-top: -5px;
        margin-bottom: 40px;
        font-size: 16px;
        text-align: center;
    }

    .section-covid-protocol-detail .protocol-icon {
        width: 180px;
    }

    .section-covid-protocol-title h3 {
        font-size: 32px;
    }

    .section-covid-protocol-title h6 {
        font-size: 18px;
    }

    .section-couple-gallery .gallery-icon {
        margin-left: 90px;
    }

    .section-couple-gallery .gallery-photo-one {
        height: 338.13px;
        width: 690px;
    }

    .section-couple-gallery .section-gallery-photo-two-right {
        height: 698.33px;
    }

    .section-couple-gallery .section-gallery-photo-three-left {
        min-height: 625.38px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 170px;
        width: 160px;
        height: 140px;
    }

    .section-footer-title h3 {
        font-size: 40px;
    }

    .section-footer-title p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 575px) {
    .section-gift-title .section-gift-title-header img {
        width: 120px;
        margin-left: 200px;
        display: flex;
    }

    .section-gift-title .section-gift-title-header h3 {
        margin-top: -20px;
        font-size: 28px;
        font-family: Roboto;
        text-align: center;
    }

    .section-gift-title .section-gift-title-header h6 {
        margin-top: -5px;
        margin-bottom: 40px;
        font-size: 16px;
        text-align: center;
    }

    .section-gift-card .section-gift-card-image img {
        max-width: 370px;
        max-height: 191px;
    }

    .section-prayer-greetings {
        font-size: 16px;
    }

    .section-prayer-prayings {
        font-size: 16px;
    }

    .section-couple-info-title h3 {
        font-size: 30px;
    }

    .section-wedding-prayer h3 {
        font-size: 30px;
    }

    .section-wedding-prayer .section-wedding-prayer-prayings p {
        font-size: 16px;
    }

    .section-wedding-prayer .section-wedding-prayer-prayings h6 {
        font-size: 16px;
    }

    .section-countdown h3 {
        font-size: 48px;
    }

    .section-countdown p {
        font-size: 18px;
    }

    .section-wedding-info-detail-both h2 {
        font-size: 36px;
    }

    .section-wedding-info-detail-both h6 {
        font-size: 18px;
        line-height: 25px;
    }

    .section-wedding-info-detail-both p {
        font-size: 16px;
    }

    .section-wedding-info-address h4 {
        font-size: 18px;
        line-height: 25px;
    }

    .section-wedding-info-button a {
        font-size: 18px;
    }

    .section-wedding-info-button .icon-streaming {
        width: 40px;
        height: 40px;
        margin: -10px -5px -7px -10px;
    }

    .section-wedding-info-detail-icon {
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .section-covid-protocol-detail .protocol-icon {
        width: 130px;
    }

    .section-couple-gallery .gallery-icon {
        width: 110px;
        height: 65px;
    }

    .section-couple-gallery h3 {
        font-size: 32px;
    }

    .section-couple-gallery h6 {
        font-size: 24px;
    }

    .section-couple-gallery .gallery-photo-one {
        height: 100%;
        width: 690px;
    }

    .section-couple-gallery .section-gallery-photo-two-right {
        height: 100%;
    }

    .section-couple-gallery .section-gallery-photo-three-left {
        min-height: 505.38px;
    }

    .section-gallery-button-gift a {
        font-size: 20px;
    }

    .section-gallery-button-gift .icon-gift {
        width: 40px;
        height: 40px;
        margin: -10px -5px -7px -10px;
    }

    .section-wedding-message-title h3 {
        font-size: 32px;
    }

    .section-wedding-message-title h6 {
        font-size: 18px;
    }

    .section-footer .footer-icon {
        width: 90px;
    }

    .section-footer .footer-icon {
        width: 70px;
        height: 95px;
    }

    .section-footer-title h3 {
        font-size: 30px;
    }

    .section-footer-title p {
        font-size: 12px;
    }

    .section-wedding-message-detail .bird-message-icon {
        width: 130px;
    }

    .section-wedding-message-detail .input-name {
        font-size: 16px;
    }

    .section-wedding-message-detail .input-message {
        font-size: 16px;
    }

    .section-wedding-message-detail .btn-submit-message {
        font-size: 16px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 190px;
    }

    .input-all-message {
        font-size: 16px;
    }
}

@media only screen and (max-width: 535px) {
    .section-gift-title .section-gift-title-header img {
        width: 120px;
        margin-left: 185px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 150px;
    }
}

@media only screen and (max-width: 505px) {
    .section-gift-title .section-gift-title-header img {
        width: 120px;
        margin-left: 170px;
    }
}

@media only screen and (max-width: 470px) {
    .section-gift-title .section-gift-title-header img {
        width: 120px;
        margin-left: 155px;
    }

    .section-couple-gallery .gallery-photo-one {
        height: 100%;
        width: 690px;
    }
}

@media only screen and (max-width: 438px) {
    .section-gift-title .section-gift-title-header img {
        width: 110px;
        margin-left: 140px;
    }

    .section-gift-card .section-gift-card-image img {
        max-width: 300px;
        max-height: 151px;
    }

    .section-couple-gallery .gallery-icon {
        margin-left: 40px;
    }

    .section-couple-gallery .section-gallery-photo-three-left {
        min-height: 405.38px;
    }

    .section-couple-gallery .gallery-photo-one {
        height: 100%;
        width: 690px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 120px;
    }
}

@media only screen and (max-width: 383px) {
    .section-gift-title .section-gift-title-header img {
        width: 110px;
        margin-left: 120px;
    }

    .section-gift-card .section-gift-card-image img {
        max-width: 290px;
        max-height: 141px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 90px;
    }
}

@media only screen and (max-width: 350px) {
    .section-gift-title .section-gift-title-header img {
        width: 110px;
        margin-left: 105px;
    }

    .section-wedding-message-detail .bird-message-one-icon {
        margin-left: 60px;
    }
}
